/* Gestion.css */

.gestion-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  display: flex;
  flex-grow: 1;
}

/* Assurez-vous que le Tableaudebord et le Body sont affichés côte à côte */
/* Tableaudebord à gauche */
/* Body au milieu */
