.dashboard {
    background-color: #4caf50; /* Votre couleur de fond */
    padding: 10px;
    color: white;
    /* Ajustez la largeur selon votre mise en page spécifique */
    width: 250px; /* Exemple de largeur */
  }
  
  .dashboard-btn {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espacement entre les boutons */
  }
  
  .dashboard-btn img {
    margin-right: 10px; /* Espacement entre l'icône et le texte */
  }
  
  .dashboard-btn button {
    background-color: #fff; /* Fond blanc pour les boutons */
    color: #4caf50; /* Texte en couleur de fond de la barre latérale */
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    /* Adaptez la largeur en fonction de votre design */
    width: 100%; 
    text-align: left;
  }
  
  /* Assurez-vous de styliser les boutons pour qu'ils correspondent à votre design */
  .dashboard-btn button:hover {
    background-color: #e8e8e8; /* Changement de couleur au survol */
  }
  
  .icon {
    margin-right: 8px;
    font-size: 1.5em; /* ou toute autre taille selon vos préférences */
  }
    